body {
	margin: 0;
    min-height: 100vh;
    display: flex;
	flex-direction: column;
}

header {
	background-color: gray;
	color: white;
	padding: .3em;
}
header a {
	color: white;
}

.CodeMirror {
	cursor: text;
}

main {
    flex: 1 0 0;
	display: flex;
    flex-wrap: wrap;
}

main > div {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
    min-width: 30em;
}
main > div > * {
	border: 1px solid lightgray;
}

#resultarea > div {
	flex: 1 1 0;
}
#editarea {
    flex: 2 1 0;
    min-height: 15em;
	position: relative;
}
#logarea {
    flex: 1 2 0;
    min-height: 5em;
}

#editor, #editor > div {
	width: 100%;
	height: 100%;
}
#executebtn {
	cursor: pointer;
	user-select: none;
	z-index: 100;
	position: absolute;
	bottom: .5em;
	right: 1.5em;
	color: white;
	padding: .5em 1em;
	border-radius: .1em;
	transition: .1s box-shadow, .1s background-color, .1s color;
	color: darkgray;
	background-color: lightgray;
	box-shadow: 1px 1px 6px gray;
}
#executebtn.btn-enabled {
	color: white;
	background-color: darkgray;
	box-shadow: 2px 2px 6px gray;
}
#executebtn.btn-enabled:active {
	box-shadow: 3px 3px 6px gray;
}

#logarea {
	overflow: auto;
}

#resultarea > div {
	flex: 1 1 0;
    min-height: 10em;
}

table {
	width: 100%;
}
th {
	background-color: #ddd;
	font-weight: normal;
}
tbody {
	overflow: scroll;
}
thead th {
	user-select: none;
}
thead th:hover {
	background-color: #d0d0d0;
}
thead th:active {
	background-color: #c0c0c0;
}
thead th:after {
	content: " \25B5\25BF";
}
thead th.asc:after {
	content: " \25B4\25BF";
}
thead th.desc:after {
	content: " \25B5\25BE";
}
tbody th {
	text-align: left;
}
td {
	text-align: right;
}

.message {
	margin: .1em 0;
	padding: .1em .5em;
	font-family: initial;
}
.message-stderr {
	color: #f00;
	background-color: #fee;
}
